<!DOCTYPE html> 
     
<div class="wrap-video">

 <!--    Made by Erik Terwan    -->
<!--   24th of November 2015   -->
<!--        MIT License        -->
<nav role="navigation">
  <div id="menuToggle">
    <!--
    A fake / hidden checkbox is used as click reciever,
    so you can use the :checked selector on it.
    -->
    <input type="checkbox" />
    
    <!--
    Some spans to act as a hamburger.
    
    They are acting like a real hamburger,
    not that McDonalds stuff.
    -->
    <span></span>
    <span></span>
    <span></span>
    
    <!--
    Too bad the menu has to be inside of the button
    but hey, it's pure CSS magic.
    -->
    <ul id="menu">
     <% if user_signed_in? %>
      <li><%= link_to current_user.nickname, "#", class: "user-nickname" %></li>
        <li><%= link_to 'Log Out',  destroy_user_session_path, method: :delete, class: "logout" %></li> 
        <% else %>
     <li><%= link_to 'Log In',new_user_session_path  , class: "login" %></li>
     <li><%= link_to 'Sign Up', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
      <a href="#"><li>What’s New</li></a>
     <li><%= link_to ' Column',new_simple_path , class: "login" %></li>
      <a href=""><li>Links</li></a>
    </ul>
  </div>
</nav>


  <%# <div class="text">
    <p>full screen video !</p>
    <p class="headline">Simple LIFeのすすめ</p>
  </div>
   %>
  <%= video_tag("/videos/record.mp4", autoplay: :true, loop: :true,  muted: :true ) %> 

</div>
<%# 動画部分 %>




<section id="index_messageBox">
<div class="messageBox">
<p class="message"> 
<br>
　　ミニマムライフ　シンプルライフ  
<br>
 <br>
<br>
　　憧れはあるけど、自分には無理、ストイックな人がやること 
<br>
 <br>
<br>
　　彼ら、彼女らの考えを覗いてみると世界が変わるかも
<br>
<br>
<br>
<%# 重視するのは、暮らしやすさと美しいデザインの共存。 %>
　　シンプルライフのすすめ方  ここで触れてみませんか？
</p>
</div>
<div class="illustBox">
<%# <%= image_tag "hana.jpg", class: "item-img" %>
<%# <%= image_tag "chair.png", class: "item-img" %>
</div>
<div class="copyBox">

</div>
</section>


<div class='item-contents'>
    <h2 class='title'></h2>
    <%= link_to 'What’s New', "", class: "subtitle" %>
    <ul class='item-lists'>

   
     <% @simple.each do |simple| %>
      <li class='list'>
        <%= link_to simple_path(simple) do %>
        <div class='item-img-content'>
           <%= image_tag simple.image, class: "item-img" %>
 

        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= simple.title %>
          </h3>
          <div class='item-price'>
            <%# <span><%= item.price%><br><%=  %></span> 
            <div class='star-btn'>
              <%= image_tag "", class:"star-icon" %>
              <span class='star-count'></span>
            </div>
          </div>
        </div>
         <% end %>
        </li>
      <% end %>
      
    </ul>
  </div>
</div>

<div class='item-contents'>
    <h2 class='title'></h2>
    <%= link_to 'Category', "", class: "subtitle" %>
    <div class="main">
      <div class="left-content">
      <div class='item-img-content'>
          <%= image_tag "hana.jpg", class: "item-img" %>

        </div>
        <div class='item-info'>
          <h3 class='item-name'>
           <%= link_to  'マインド','/simples/category/2', class: "left-image" %>
          </h3>
          <div class='item-price'>
            <div class='star-btn'>
            </div>
          </div>
        </div>
      </div>
      <div class="center-content">
       <div class='item-img-content'>
          <%= image_tag "hana.jpg", class: "item-img" %>

        </div>
        <div class='item-info'>
          <h3 class='item-name'>
           <%= link_to 'ライフスタイル','/simples/category/3', class: "subtitle" %>
          </h3>
          <div class='item-price'>
           
            <div class='star-btn'>
            </div>
          </div>
        </div>
      </div>
      <div class="right-content">
       <div class='item-img-content'>
          <%= image_tag "hana.jpg", class: "item-img" %>

        </div>
        <div class='item-info'>
          <h3 class='item-name'>
           <%= link_to '本', '/simples/category/4', class: "subtitle" %>
          </h3>
          <div class='item-price'>
           
            <div class='star-btn'>
             
            </div>
          </div>
        </div>
      </div>
       <div class="right-content">
       <div class='item-img-content'>
          <%= image_tag "hana.jpg", class: "item-img" %>

        </div>
        <div class='item-info'>
          <h3 class='item-name'>
           <%= link_to 'インテリア・家電', '/simples/category/5', class: "subtitle" %>
          </h3>
          <div class='item-price'>
            
            <div class='star-btn'>
           
            </div>
          </div>
        </div>
      </div>
       <div class="right-content">
       <div class='item-img-content'>
          <%= image_tag "hana.jpg", class: "item-img" %>

        </div>
        <div class='item-info'>
          <h3 class='item-name'>
           <%= link_to '音楽', '/simples/category/6', class: "subtitle" %>
          </h3>
          <div class='item-price'>
         
            <div class='star-btn'>
           
            </div>
          </div>
        </div>
      </div>
    </div>
      </div>
       </div>

      
    </div>
      </div>
       </div>