<div class="items-sell-contents">
  <header class="items-sell-header">
   

  </header>
  <div class="items-sell-main">
    <h2 class="items-sell-title"> Column</h2>
    <%= form_with model: @simple ,method: :post,  local: true do |f| %>

    <%# インスタンスを渡して、エラー発生時にメッセージが表示されるようにしましょう。%>
    <%# render 'shared/error_messages', model: f.object %>
    <%# //インスタンスを渡して、エラー発生時にメッセージが表示されるようにしましょう。%>

    <%# 商品画像 %>
    <div class="img-upload">
      <div class="weight-bold-text">
       
        
      </div>
      <div class="click-upload">
      
      </div>
    </div>
    <div class="weight-bold-text">
        
        </div>
     
    <%# /商品画像 %>
    <%# 商品名と商品説明 %>
    <div class="new-items">
      <div class="weight-bold-text">
         Title
        
      </div>
      <%= f.text_area :title, class:"items-text", id:"item-name", placeholder:"Title Here", maxlength:"40" %>
      <div class="items-explain">
        <div class="weight-bold-text">
          Mind Set
        
        </div>
        <%= f.text_area :sentense, class:"items-text", id:"item-info", placeholder:"A person who lives with the minimum necessary items by reducing his belongings as much as possible. It is a newly born lifestyle in the modern society of mass production and mass consumption, with the idea that you can live affluently by having only what you really need. A coined word derived from minimal, which means 'minimal.'" ,rows:"7" ,maxlength:"1000" %>
      </div>
        <p>
          
        </p>
        <%= f.file_field :image, id:"simple-image" %>
          
          <span class="indispensable"></span>
             <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
    </div>
    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "Complete" ,class:"sell-btn" %>
      <%=link_to 'Back', root_path, class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
  </div>
  <% end %>
 
 
  </footer>
</div>