<div class="items-sell-contents">
  <header class="items-sell-header">
   

  </header>
  <div class="items-sell-main">
    <h2 class="items-sell-title">Blogs</h2>
    <%= form_with local: true do |f| %>

    <%# インスタンスを渡して、エラー発生時にメッセージが表示されるようにしましょう。%>
    <%# render 'shared/error_messages', model: f.object %>
    <%# //インスタンスを渡して、エラー発生時にメッセージが表示されるようにしましょう。%>

    <%# 商品画像 %>
    <div class="img-upload">
      <div class="weight-bold-text">
       
        
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :hoge, id:"item-image" %>
      </div>
    </div>
    <%# /商品画像 %>
    <%# 商品名と商品説明 %>
    <div class="new-items">
      <div class="weight-bold-text">
         Title
        
      </div>
      <%= f.text_area :title, class:"items-text", id:"item-name", placeholder:"Title Here", maxlength:"40" %>
      <div class="items-explain">
        <div class="weight-bold-text">
          商品の説明
        
        </div>
        <%= f.text_area :sentense, class:"items-text", id:"item-info", placeholder:"" ,rows:"7" ,maxlength:"1000" %>
      </div>
    </div>
    <%# /商品名と商品説明 %>

   

   

  
    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "Complete" ,class:"sell-btn" %>
      <%=link_to 'Back', root_path, class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
  </div>
  <% end %>

 
  </footer>
</div>