

<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @simple.title %>
    </h2>
    <div class="item-img-content">
      <%= image_tag @simple.image, class:"item-box-img" %>
    </div>
    <div class="item-price-box">
      <span class="item-price">
      </span>
      <span class="item-postage">
      </span>
    </div>

    <div class="item-explain-box">
      <span><%= @simple.sentense%></span>
    </div>
  
    <% if current_user %>
      <%= link_to "Edit","", method: :get, class: "item-red-btn" %>
      <p class="or-text">or</p>
      <%= link_to "Delete,", class:"item-destroy" %>

     
      <% end %>

 
  
 
</div>

<%# <%= render "shared/footer" %> 