<!DOCTYPE html>
<html>
  <head>
    <title>SIMPLE LIFEのすすめ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

      <script type="text/javascript" src="https://js.pay.jp/v1/"></script>
  <%= stylesheet_link_tag 'application', media: 'all'%>
  <%= javascript_pack_tag 'application' %>
  </head>


  
    </header>
    
    <%= yield %>
     <footer>
     <div class='footer'>
  <div class='footer-contents'>
    <div class='furima-details'>
      <h2 class='footer-content-head'></h2>
      <ul>
        <li><%= link_to '', "#", class: "footer-link" %></li>
        <li><%= link_to '', "#", class: "footer-link" %></li>
        <li><%= link_to '', "#", class: "footer-link" %></li>
        <li><%= link_to '', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='furima-details'>
      <h2 class='footer-content-head'> </h2>
      <ul>
        <li> <%= link_to image_tag("facebook.png"), "https://www.facebook.com/" %></li>
        <li> <%= link_to image_tag("instagrm.png"), "https://www.instagram.com "%></li>
        <li> <%= link_to image_tag("twetter.png"), "https://twitter.com/" %></li>
      </ul>
    </div>
    <div class='furima-details'>
      <h2 class='footer-content-head'></h2>
      <ul>
        <li><%= link_to '', "#", class: "footer-link" %></li>
        <li><%= link_to '', "#", class: "footer-link" %></li>
        <li><%= link_to '', "#", class: "footer-link" %></li>
      </ul>
    </div>
  </div>
  <%= link_to image_tag("", class:"logo-white"), "#" %>
  <p>© Simple Life co</p>
</div>
    </footer>
  </body>
</html>
